@font-face {
    font-family: 'STZhongSong';
    src: url('fonts/STZhongSong/STZhongSong.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Han Sans CN';
    src: url('fonts/SourceHanSans/SourceHanSansCN-Normal.otf') format('opentype');
}

@font-face {
    font-family: 'Bender';
    src: url('fonts/Bender/Jovanny\ Lemonad\ -\ Bender.otf') format('opentype');
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'etcc-iconfont';
    /* Project id 3930595 */
    src: url('//at.alicdn.com/t/c/font_3930595_jt2lhx49y7.woff2?t=1678204020185') format('woff2'),
        url('//at.alicdn.com/t/c/font_3930595_jt2lhx49y7.woff?t=1678204020185') format('woff'),
        url('//at.alicdn.com/t/c/font_3930595_jt2lhx49y7.ttf?t=1678204020185') format('truetype');
}