.crop-product {
    margin: 20px 50px;
    background-color: #fff;
}

.crop-product .crop-icon {
    float: left;
    margin: 10px;
    margin-right: 20px;
    font-size: 50px;
}

.crop-product .name {
    float: left;
    margin-top: 15px;
    font: 400 30px 'STZhongSong';
}

.crop-product .price {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    font: 400 30px 'Bender';
}

.crop-product .highs-and-lows {
    float: right;
    margin: 10px;
    font-size: 50px;
}

.decoration-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #443eb9;
    text-indent: 20px;
    font: 400 18px/40px 'Bender';
    background-color: #eee;
}