body {
    overflow-x: hidden;
    color: #191919;
    background-color: #191919;
}

.icon {
    font-family: 'etcc-iconfont';
}

.box-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 5% 0;
}

.box {
    position: relative;
    float: left;
    margin: 10px;
    background-color: #eee;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.title {
    margin: 15px;
    font: 800 40px 'STZhongSong';
}

.top-bar {
    height: 25px;
    padding-left: 15px;
    color: #443eb9;
    background-color: #fff;
    box-shadow: 0 -1px 2px 2px rgba(63, 63, 63, 0.1);
    font: 400 18px/25px 'Bender';
}

.tabs-box {
    position: absolute;
    right: 10%;
    height: 100%;
    padding: calc(5% + 10px) 0;
}

.tabs {
    float: right;
    width: 90px;
    background-color: #fff;
}

.tabs .tab {
    cursor: pointer;
    display: block;
    width: calc(100% - 20px);
    height: 30px;
    margin: 20px 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.07);
    font: 400 20px/30px 'STZhongSong';
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.04);
}

.tabs .version .tab {
    cursor: default;
    font: 400 14px/30px 'Bender';
}

.assets-box {
    display: inline-block;
    float: none;
}

.side-box {
    display: inline-block;
    float: none;
    width: 200px;
    height: 400px;
    background-color: #fff;
}

.left-box {
    float: left;
    width: 220px;
}

.selection {
    width: calc(100% - 40px);
    height: 50px;
    margin: 10px 20px;
    text-indent: -55px;
    font: 400 30px/50px 'STZhongSong';
    background-color: rgba(0, 0, 0, 0.07);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.04);
}

.selection:first-child {
    margin: 10px 20px 5px;
}

.assets {
    width: 200px;
    height: 60px;
    padding-right: 20px;
    text-align: right;
    font: 400 30px/60px 'Bender';
}

.main-box {
    width: 780px;
    height: 505px;
    background-color: unset;
}

.item-container {
    overflow: auto;
    height: 420px;
    background-color: #eee;
}

.slider {
    display: none;
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 40px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.07);
}

.slider .block {
    cursor: move;
    position: absolute;
    top: calc(50% - 15px);
    width: 20px;
    height: 30px;
    background-color: #eee;
    border: 2px solid #aaa;
}

.slider .track {
    position: absolute;
    top: calc(50% - 2.5px);
    width: calc(100% - 80px);
    height: 5px;
    margin: 0 10px;
    background-color: #aaa;
}

.slider .tick {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 35px;
    background-color: #eee;
}

.chunk-select-panel {
    position: absolute;
    display: none;
    z-index: 10;
    text-align: center;
    background-color: #fff;
    border: 2px solid #aaa;
}

.chunk-select-panel .title {
    margin: 10px;
    font: 400 20px 'Source Han Sans CN';
}

.chunk-select-panel .chunks {
    margin: 10px;
    border-collapse: collapse;
}

.chunk-select-panel .chunks td {
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    font: 400 20px/30px 'Bender';
    border: 2px solid #aaa;
}

.item-container .product {
    cursor: pointer;
    position: relative;
    float: left;
    width: 340px;
    margin: 10px 20px;
    background-color: rgba(0, 0, 0, 0.07);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.04);
}

.item-container *:not(.item-container) {
    cursor: pointer;
}

.item-container .icon {
    float: left;
    margin: 10px;
    margin-right: 20px;
    font-size: 50px;
}

.item-container .description {
    margin-top: 10px;
    float: left;
}

.item-container .latin {
    font: 400 16px 'Bender';
}

.item-container .name {
    margin-top: -7px;
    font: 400 27px 'STZhongSong';
}

.item-container .price {
    position: absolute;
    top: 15px;
    right: 15px;
    font: 400 35px 'Bender';
}

.item-container .amount {
    position: absolute;
    top: 10px;
    right: 15px;
    font: 400 40px 'Bender';
}

.decoration-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #443eb9;
    text-indent: 20px;
    font: 400 18px/40px 'Bender';
    background-color: #eee;
}

.product-id {
    display: none;
}