<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/fonts.css" rel="stylesheet" />
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/loginAnim.css" rel="stylesheet" />
</head>

<div class="panel-left">
    <div class="form">
        <div class="login-form form">
            <h1 class="title">登录</h1>
            <div class="input-area">
                <div class="username">
                    <h4>用户名</h4>
                    <input type="text" class="username-input" placeholder="Username">
                </div>
                <div class="password">
                    <h4>密码</h4>
                    <input type="password" class="password-input" placeholder="Password">
                </div>
                <button class="login button">
                    <h3 class="submit">提交信息</h3>
                </button>
            </div>
        </div>

        <div class="register-form form">
            <h1 class="title">注册</h1>
            <div class="input-area">
                <div class="username">
                    <h4>用户名</h4>
                    <input type="text" class="username-input" placeholder="Username">
                </div>
                <div class="email">
                    <h4>邮箱</h4>
                    <input type="email" class="email-input" placeholder="E-mail">
                </div>
                <button class="send button">发送验证码</button>
                <div class="password">
                    <h4>验证码</h4>
                    <input type="text" class="verif-code-input" placeholder="Verification Code">
                </div>
                <div class="password">
                    <h4>密码</h4>
                    <input type="password" class="password-input" placeholder="Password">
                </div>
                <button class="register button">
                    <div class="mask"></div>
                    <h3 class="submit">提交信息</h3>
                </button>
            </div>
        </div>

        <div class="retrieve-form form">
            <h1 class="title">找回</h1>
            <div class="input-area">
                <div class="email">
                    <h4>邮箱</h4>
                    <input type="email" class="email-input" placeholder="E-mail">
                </div>
                <button class="send button">发送验证码</button>
                <div class="password">
                    <h4>验证码</h4>
                    <input type="text" class="verif-code-input" placeholder="Verification Code">
                </div>
                <button class="retrieve button">
                    <div class="mask"></div>
                    <h3 class="submit">提交信息</h3>
                </button>
            </div>
        </div>

        <div class="switch-form">
            <button class="to-register button">注册</button>
            <button class="to-retrieve button">找回</button>
        </div>
    </div>

    <div class="author-info">
        <h3>Website Made By</h3>
        <h3 class="author">443eb9#C</h3>
    </div>
</div>

<div class="panel-right">
    <div class="announcement">
        <h1 class="title">公告</h1>
        <ul class="article-container">
            <li>
                <div class="ann-article">
                    <h2 class="title">公告标题1</h2>
                    <p class="content">
                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                    </p>
                </div>
            </li>
            <li>
                <div class="ann-article">
                    <h2 class="title">公告标题1</h2>
                    <p class="content">
                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                    </p>
                </div>
            </li>
            <li>
                <div class="ann-article">
                    <h2 class="title">公告标题1</h2>
                    <p class="content">
                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                    </p>
                </div>
            </li>
            <li>
                <div class="ann-article">
                    <h2 class="title">公告标题1</h2>
                    <p class="content">
                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                    </p>
                </div>
            </li>
            <li>
                <div class="ann-article">
                    <h2 class="title">公告标题1</h2>
                    <p class="content">
                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                    </p>
                </div>
            </li>
            <li>
                <div class="ann-article">
                    <h2 class="title">公告标题1</h2>
                    <p class="content">
                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="login-anim">
    <h1 class="title">Authentication Passed</h1>
</div>

<div class="message-boxes"></div>

<script type="module" src="~/js/login.js"></script>
<script type="module" src="~/js/common.js"></script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>